<div class="bg">

<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-5">
      <div class="button-input d-flex flex-row">
        <button type="button" class="btn bg-white shadow mb-2 " routerLink = "/adddata"><i class="fas fa-plus"></i> Add Data</button>
        <input type="text" [(ngModel)]="search.name" class="form-control ml-3 w-50 mb-2 shadow" placeholder="Search data">
      </div>

      <table class="table shadow  table-responsive-md table-bordered text-center">
        <thead class="bg-info text-white">
          <tr>
            <th>S.no</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Qualification</th>
            <th>number</th>
            <th>Location</th>
            <th>View </th>
            <th>Edit </th>
            <th>Delte</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of data1 | filterBy: search |  paginate: { itemsPerPage: 6, currentPage: p }">
            <td scope="row">{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.email}}</td>
            <td>{{c.age}}</td>
            <td>{{c.qualification}}</td>
            <td>{{c.number}}</td>
            <td>{{c.location}}</td>
            <td><a routerLink="/view/{{c.id}}" style="cursor: pointer;"><i class="far fa-paper-plane"></i></a></td>
            <td><a routerLink="/edit/{{c.id}}" style="cursor: pointer;"><i class="fab fa-medrt"></i></a></td>
            <td><a (click)="delete(c.id)" style="cursor: pointer;"><i class="far fa-trash-alt"></i></a></td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="float-right" (pageChange)="p = $event"></pagination-controls>

    </div>
  </div>
</div>
</div>
